# config data
*.json

# original and output data
*.xlsx
*.csv
*.tsv

# all files under the folder /abandoned
abandoned/*

# .pyc files which generated for caching
*.pyc

# macOS folder extensions
dataset/.DS_Store
.DS_Store

# all ipynb files
*.ipynb
